<div class="comment-form">
<h1>Add comment</h1>
<%= form_for [@event, @comment] do |f| %>
<%= f.label :content %><br>
<%= f.text_area :content, size: "50x4", placeholder: "Write a comment..." %><br>
<%= f.submit class: "btn btn-primary btn-xs"%>
<% end %>
</div>
