<div id="welcome">
  <h1>Welcome to E-Reminder</h1>
  <p>Create event notifications. Add these to your own calendar in addition to adding to other users' calendars such as your friends, family members, co-workers, etc.</p>
</div>
