// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comments-show {
  background-color: white;
  border: 6px solid #3399ff;
  padding: 1%;
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

.comment-form {
  background-color: white;
  border: 6px solid #3399ff;
  padding: 3%;
  width: 600px;
  margin: 0 auto;
}

.comments {
  display: none;
}
