// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#error {
  text-align: center;
}

#error_explanation {
  color: black;
  border: 3px solid red;
  width: 370px;
  margin: auto;
  text-align: left;
  padding: 2%;
}

.event {
  background-color: white;
  border: 6px solid #3399ff;
  padding: 2%;
  margin: 0 auto;
}

.event-show {
  background-color: white;
  border: 6px solid #3399ff;
  padding: 3%;
  width: 600px;
  margin: 0 auto;
}

.event-form {
  background-color: white;
  border: 6px solid #3399ff;
  padding: 2%;
  width: 900px;
  margin: 0 auto;
}

li.link {
  padding-right: 10px;
}

.fa {
  font-size: 20px;
}
