// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#error_explanation {
  color: white;
  font-weight: bold;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background: rgba(191, 63, 127, 0.85);
  width: 100%;
  padding: .75rem;
}

.event {
  background-color: white;
  border: 6px solid #3399ff;
  padding: 2%;
  margin: 0 auto;
}

.event-show {
  background-color: white;
  border: 6px solid #3399ff;
  padding: 3%;
  width: 600px;
  margin: 0 auto;
}

.event-form {
  background-color: white;
  border: 6px solid #3399ff;
  padding: 2%;
  width: 900px;
  margin: 0 auto;
}

li.link {
  padding-right: 10px;
}

.fa {
  font-size: 20px;
}

#prev {
  margin-right: 10px;
}

#next {
  margin-left: 10px;
}

#commments-button {
  margin-left: 10px;
  margin-right: 10px;
}
