// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event {
  background-color: white;
  border: 6px solid #3399ff;
  padding: 3%;
  margin: 0 auto;
}

.event-show {
  background-color: white;
  border: 6px solid #3399ff;
  padding: 3%;
  width: 600px;
  margin: 0 auto;
}

.event-form {
  background-color: white;
  border: 6px solid #3399ff;
  padding: 3%;
  width: 700px;
  margin: 0 auto;
}
