// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.location {
  background-color: white;
  border: 6px solid #3399ff;
  padding: 3%;
  width: 600px;
  margin: 0 auto;
}

p.show {
  font-size: 24px;
}

div.loc {
  width: 300px;
  margin: 0 auto;
  padding: 1em;
}

li.popular {
  padding-left: 1em;
  text-align: left;
  margin: auto;
}
